<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Java Script</title>

    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">

    <script src="{{url_for('static', filename='js/script.js')}}"></script>

</head>
<body>
    <h1>
        Welcome to the Front!
    </h1>
    <a href="#bottompage" id="toppage">Take me to the bottom</a>
    
    <br><br>
    <a href="https://google.com" id="google" target="_blank" >Google</a>
    <br><br>
    <a href="#" onclick="check()" > Remove Image</a>

    <img src="https://images.unsplash.com/photo-1499914485622-a88fac536970?q=80&w=1170&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Laptop" class="image">

    <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quia sit similique! Deserunt esse animi, enim quis ex accusantium fugit recusandae blanditiis delectus in rem doloremque? Labore, eius quasi.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quia sit similique! Deserunt esse animi, enim quis ex accusantium fugit recusandae blanditiis delectus in rem doloremque? Labore, eius quasi.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quia sit similique! Deserunt esse animi, enim quis ex accusantium fugit recusandae blanditiis delectus in rem doloremque? Labore, eius quasi.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quia sit similique! Deserunt esse animi, enim quis ex accusantium fugit recusandae blanditiis delectus in rem doloremque? Labore, eius quasi.

        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Praesentium voluptas quia sit similique! Deserunt esse animi, enim quis ex accusantium fugit recusandae blanditiis delectus in rem doloremque? Labore, eius quasi.
        

    </p>

    <h3> Your number is {{rnum}}</h3>
    <a href="#toppage" id="bottompage">back up</a>


    
    <br>&copy; 2025

    
</body>
</html>